          
<div class="news">
  <h2>news</h2>
  {% if site.data.news  %}
    <div class="table-responsive">
      <table id="news-table" class="table table-sm table-borderless w-auto">
          <thead style="display: none;"><th></th><th></th></thead>
      <tbody>
      {% assign news = site.data.news %}
      {% for item in news %}
        <tr>
          <td scope="row">
            <abbr class="badge news-title">
            {{ item.date | date: "%b %-d, %Y" }}
            </abbr>
          </td>
          <td>
              {{ item.content | markdownify }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
